.Select.is-focused:not(.is-open) > .Select-control {
	border-color: var(--bs-primary);
	box-shadow: none;
	background: #fff;
}

.fa-xl {
    vertical-align: 0 !important;
}

.dbc .Select-placeholder {
	color: var(--bs-secondary) !important;
	background-color: transparent !important;
}

.form-check {
    margin-bottom: 0;
}

.form-check-input:focus {
	border-color: var(--bs-secondary);
	outline: 0;
	box-shadow: none !important;
}

.form-switch .form-check-input:focus {
	--bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e");
}

h5 {
    margin-top: .3em !important;
    margin-bottom: .3em !important;
}

ul.icon-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Arrange items in a row */
}

li {
    margin: .75em;
}

.dash-filter--case--sensitive:not(.disabled) {
	color: var(--bs-accent1);
	opacity: 1!important;
    margin-right: 5px !important;
    margin-left:  5px !important;
}


.form-check-input:checked {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

body .dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td {
	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	border: none !important;
    padding: 10px 10px 10px 10px;
}


.column-actions {
    order: 9;
    margin-left: 10px;
    margin-right: 5px;
}


tr:first-of-type th:first-of-type.dash-select-header  {
  border-top-left-radius: 5px;
}
th:last-of-type.dash-header  {
  border-top-right-radius: 5px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 5px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 5px;
}

.first-page, .previous-page, .next-page, .last-page {
    border-radius: 5px;
}